{% extends 'base.html' %}


{% block header %}
<div class="alert alert-secondary" role="alert">
    <div class="container">
        <p class="display-4">新しい質問を追加</p>
    </div>
</div>

{% endblock header %}


{% block content %}
<div class="container">
    <form action="" , method="POST">
        {% csrf_token %}
        <p><label for="id_question">質問:<br></label> <textarea name="question" cols="40" rows="10" required
                id="id_question">
        </textarea></p>
        <p><label for="id_answer">回答:<br></label> <textarea name="answer" cols="40" rows="10" required id="id_answer">
        </textarea></p>
        <p><label for="id_tags">タグ名:</label> <select size="5" name="tags" id="id_tags" multiple>

                {% for tag in tags %}
                <option value="{{tag.pk}}">{{tag.tag_name}}</option>
                {% endfor %}

            </select></p>
        <p><label for="id_open_info">公開:</label> <select name="open_info" id="id_open_info">
                <option value="public">公開</option>
                <option value="private" selected>非公開</option>

            </select></p>
        <p><label for="id_company">会社名:</label> <input type="text" name="company" maxlength="50" id="id_company"></p>
        <p><label for="id_state">状況:</label> <input type="text" name="state" maxlength="50" id="id_state"></p>
        <input type="hidden" name=username value="{{username}}">
        <input type="submit" value="作成する">
    </form>
</div>

{% endblock content %}