{% extends 'base.html' %}


{% block header %}
<div class="alert alert-secondary" role="alert">
    <div class="container">
        <p class="display-4">新しい質問を追加</p>
    </div>
</div>

{% endblock header %}


{% block content %}
<div class="container">
    <form action="" , method="POST">
        {% csrf_token %}
        <p>タグ名</p>
        <p>{{form.tag_name}}</p>
        <input type="hidden" name=username value="{{username}}">
        <input type="submit" value="作成する">
    </form>
</div>

{% endblock content %}