{% extends 'base.html' %}

{% block header %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">ES質問まとめアプリ</h1>
        <p class="lead">自分の回答をまとめて管理！</p>
        <a href="{% url 'create_his'%}" class="btn btn-warning btn-lg" tabindex="-1" role="button"
            aria-disabled="true">質問と回答を追加</a>
    </div>
</div>
{% endblock header %}

{% block content %}


<div class="container">
    {% for item in histories %}
    <div class="alert alert-success" role="alert">
        <p>[質問]{{item.question}}</p>

        {% for tag in item.tags.all %}
        <a href="#" class="btn btn-dark btn" tabindex="-1" role="button" aria-disabled="true">{{tag}}</a>
        {% endfor %}
        <br>
        <br>
        <a href="{% url 'detail_his' item.pk %}" class="btn btn-info btn" tabindex="-1" role="button"
            aria-disabled="true">詳細</a>
        <a href="{% url 'update' item.pk %}" class="btn btn-primary btn" tabindex="-1" role="button"
            aria-disabled="true">編集</a>
        <a href="#" class="btn btn-danger btn" tabindex="-1" role="button" aria-disabled="true">削除</a>
    </div>

    {% endfor %}
</div>

{% endblock content %}