{% extends 'base.html' %}

{% block header %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>{{username}}さんの回答です．</h1>
    </div>
</div>

{% endblock header %}

{% block content %}
<div class="container">
    {% for item in histories %}
    <div class="alert alert-success" role="alert">
        <p>[質問]<br>{{item.question | linebreaksbr}}</p>
        <p>[回答]<br>{{item.answer | linebreaksbr}}</p>

        {% for tag in item.tags.all %}
        <a href="#" class="btn btn-dark btn" tabindex="-1" role="button" aria-disabled="true">{{tag}}</a>
        {% endfor %}
    </div>

    {% endfor %}
</div>

{% endblock content %}